const int c = 10;

function : void bar (int &x){
   x = x + 3;
}

function : void foo (int [c] &a){
   int i = -1; while (++ i < c){
      cout << a[i] << "\t";
      bar(a[i]);
   }
   cout << endl;
}

function : void foo2(int [c] &a){
   foo(a);
}

int [c] a;
function : int main(){
   foo2(a);
   foo2(a);
   foo(a);
   foo(a);

   
   return 0;
}
