int a = 10;
float f = 10.5;
bool b = true;
bool c = false;

function : int foo(){
   decltype(a) k;
   return 10;
}

function : void main(){
   cout << "a: " <<  a  << " f: " << f << "\n" << b << " " << c << " test" << endl;
   cout << true << false << endl;
}