int a,b,c;
bool b1, b2;
float f1, f2, f3;

static int si1;
static float sf1;
static bool sb1;
static int si2 = 1;
static float sf2 = 1.11;
static bool sb2 = true;

const int ci1 = 10;
const float cf1 = 10.01;
const bool cb1 = true;

int i1 = 1;
bool b3 = true;
float f4 = 1.0;
function : void main(){
  int a;
  
  const int clocal = 1;
  const bool clocalb = true;
  const float clocalf = 0.11;
  int local1;
  int local2 = 1;
  int local3 = 2;
  bool local4 = true;
  bool local5 = false;
  cout << "hello" << endl;
  cout << "hi" << endl;
  cout << 1 << endl;
  cout << a << endl;
  cout << true << endl;
  cout << 1.1 << endl;
  cout << 2.2 << endl;
  float localfloat = 1.1;
}
function : void foo(){
  cout << "hello1" << endl;
}
