function : void _printHex(int h){
   if (h > 15){
      _printHex(h/16);
   }
   h = h % 16;
   if (h < 10){ cout << h;}
   if (h == 10){ cout << "A";}
   if (h == 11){ cout << "B";}
   if (h == 12){ cout << "C";}
   if (h == 13){ cout << "D";}
   if (h == 14){ cout << "E";}
   if (h == 15){ cout << "F";}
}

function : void printHex(int h){
   if (h >= 0) {
      cout << "0x";
      _printHex(h);
      cout << endl;
   }
}

function : int main(){
   printHex(0x12);
   printHex(0xABCDEF);
   printHex(012345);
   return 0;
}
