function : float sqrt(float n){
   float f = 1;
   int i = 0; while (i++ < 10){
      f = (f + n/f)/2;
   }
   return f;
}
function : int main(){
   int i = 0; while (++i <= 100){
      cout << sqrt(i) << " ";
      if (i % 10 == 0) { cout << endl; }
   }
   cout << endl;

   return 0;
}
