const int c = 10;
float [c] f;
int [c] i;
bool [c] b;


function : int main(){
   int i = 0;
   while (i < c){
      cout << f[i] << ::i[i] << b[i] << endl;
      ++i;
   }
   return 0;
}
